
#app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-item: center;
  background-color: #CC0000
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18vw;
  margin: 5%;
  padding-bottom: 10%;
  background-color: white;
}

.cardimg{
  height: 8vw;
}

.card h1{
  text-transform: capitalize;
  font-size: 2vw;
}
